:root {
  --primary: #d3ecff;
  --secondary: #ebffe7;
  --third: #ffdcec;
  --black: #000;
  --white: #fff;
  --pink: #cb00ff;
  --dark: rgb(74, 74, 74);
  --green: #24be08;
  --facebook: #4267b2;
  --instagram-red: #bc2a8d;
  --instagram-purple: #8a3ab9;
  --instagram-yellow: #fccc63;
  --instagram-orange: #fbad50;
  --instagram-blue: #4c68d7;
  --instagram-maroon: #cd486b;
  --youtube-red: #ff0000;
  --twitter: #1d9bf0;
  --blue: #2f6eff;
  --rust: #e04606;
}
