header {
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  padding-right: 30px;
}

.logo {
  align-items: center;
  font-weight: bold;
  background: -webkit-linear-gradient(230deg, #0151ff, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus {
  display: flex;
}

.menus ul {
  display: flex;
  list-style-type: none;
}

.menus ul li {
  padding: 0px 20px;
  text-decoration: none;
  font-size: 16px;
}

.menus ul li a {
  padding: 10px 0px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(105, 105, 105);
}

.navbar ul li a:hover {
  color: black;
}

.menus .active a {
  border-bottom: 3px solid;
  color: black;
}

.btn-contact {
  padding: 0px 25px;
  color: white;
  font-size: 14px;
  background-color: orange;
  border: none;
  box-shadow: 0px 8px 15px rgb(255 165 0 / 40%);
  border-radius: 25px 0 25px 25px;
  margin-left: 20px;
}

.btn-contact:hover {
  background-color: rgba(255, 166, 0, 0.881);
  cursor: pointer;
}

.btn-contact:focus {
  outline: 3px solid rgb(255, 230, 185);
}
