.services {
  padding: 4rem 0;
  background: #fbfcfe;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title h4 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
}

.title p {
  font-size: 12px;
  width: 40%;
  text-align: center;
}

.services-row {
  display: flex;
  margin: 3rem;
}

.services-row .service {
  padding: 2rem;
  margin: 1rem;
}

.services-row .service .icon {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.service .service-content {
  text-align: center;
}

.services-row .service .service-content h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.service-content p {
  font-size: 13px;
  text-align: left;
}

.services-row .service:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 8px 27px #cacad0;
}
