@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css";

@import url("./color.css");
@import url("./layout.css");
@import url("./navbar.css");
@import url("./herobar.css");
@import url("./footer.css");
@import url("./about-us.css");
@import url("./blog.css");
@import url("./services.css");

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: auto;
}
